# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
env/
venv/
ENV/
.env/

# Pytest & coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Mypy
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# IDEs / editors
.vscode/
.idea/
*.sw?
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Custom ignored files

main_only_coarsened_quantum.py
run_p_experiment.py

graph_coarsening_for_cvrptw (6).pdf
run_radius_experiment.py
main.tex
hyperparam_search_results.json
run_hyperparam_search.py
output10customer.json
main.tex